<!DOCTYPE html>
<html lang="en">
<title>Social Library | About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/w3.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top" >
  <div class="w3-bar w3-custom w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">About</a>
    <a href="/market" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Market</a>
    
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href="/market" class="w3-bar-item w3-button w3-padding-large">Market</a>
    
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-custom w3-book w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">SOCIAL LIBRARY</h1>
  <p class="w3-xlarge">A place for Booklovers</p>
  <a href="/signup"> <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Make my account</button></a>    &ensp;
  <a href="/signin"> <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Let me in!</button></a>
</header>


<!-- First Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>What is Social Library?</h1>
      <h5 class="w3-padding-32">Social Library is a platform where all the book lovers can lend/buy different types
        of books from other users. This is a Not-for-Profit initiative as the services are
        provided to the users free of cost. Rather than buying a new book, a reader
        would love to rent a book instead and return the book to the owner after reading.
        </h5>

      
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-book w3-padding-64 w3-text-custom"  style="font-size:200px;"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-male w3-padding-64 w3-text-custom w3-margin-right"   style="font-size:200px;"></i>
    </div>

    <div class="w3-twothird">
      <h1>Who are we?</h1>
      <h5 class="w3-padding-32">We are a team of developers from IIT Mandi. We sought to build a platform for geeks who not only love books but celebrate books. We are trying to make book reading more feasible and accessible. We know Sharing is Caring! and people want to share their stuff (specially their cool collection of books) with others.</h5>

      
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day : IDBS is GREAT :) </h1>
</div>

<!-- Footer -->
<% include partials/footer %>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>