<!DOCTYPE html>
<html>
<head>
    <title>SocialLibrary | Sell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <% include partials/header %>
    <div class="container">
        <% if (locals.user) { %>
            <form class="text border border-light p-5" method="post" action="/addbooks">

                <p class="h2 mb-4">Add New book Sell Listing</p>

                <!-- ISBN -->
                <p>ISBN</p>
                <input type="text" id="addListISBN" class="form-control mb-4" name="ISBN" required>
                
                <!-- Name -->
                <p>Book Title</p>
                <input type="text" id="addListTitle" class="form-control mb-4" name="title" required>

                <!-- Genre -->
                <p>Genre</p>
                <input type="text" id="addListGenre" class="form-control mb-4" name="genre" required>
                
                <!-- Language -->
                <p>Language</p>
                <input type="text" id="addListLanguage" class="form-control mb-4" name="language" required>
                
                <!-- Author Name -->
                <p>Author Name</p>
                <input type="text" id="addListAuthor" class="form-control mb-4" name="author" required>
                
                <!-- Publisher Name -->
                <p>Publisher Name</p>
                <input type="text" id="addListPublisher" class="form-control mb-4" name="publisher" required>
                
                <!-- Price -->
                <p>Price</p>
                <input type="number" id="addListPrice" class="form-control mb-4" name="price" min='0' required>
                
                <!-- Sell/Lend -->
                <input type="radio" id="addListSellLend" class="" name="status" value="lend" required>Lend<br>
                <input type="radio" id="addListSellLend" class="" name="status" value="sell" required>Sell
                
                <!-- Submit button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Create Listing</button>
                <hr>
        <% } else { %>
            <p>
                You are not a valid user. Please <a href="/signup">Sign Up</a>
            </p>
            <p>Have an Account?
                <a href="/signin">Sign In</a>
            </p>
        <% } %>
    </div>
    <% include partials/footer %>
</body>
</html>