<!DOCTYPE html>
<html>
<head>
    <title>SocialLibrary | Sell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->

    <style>
        input {
            width: auto;
        }
        .login-form {
            width: 600px;
            margin: 30px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
    </style>
</head>
<body>
    <% include partials/header %>
    <div class="container" style="display: flex; flex-grow: 1;">
        <% if (locals.user) { %>
            <form id="addListForm" class="login-form text border border-light p-4" method="post" action="/addbooks">

                <p class="h2 mb-4">Add New book Sell Listing</p>

                <!-- ISBN -->
                <p>ISBN</p>
                <input list="ISBN" id="addListISBN" class="form-control mb-4" name="ISBN" required oninput="getList()" onblur="getIsbn()" style="flex-grow: 1;">
                <datalist id="ISBN">
                    <option>abc</option>
                </datalist>

                <!-- Name -->
                <p>Book Title</p>
                <input type="text" id="addListTitle" class="form-control mb-4" name="title" required>

                <!-- Genre -->
                <p>Genre</p>
                <input type="text" id="addListGenre" class="form-control mb-4" name="genre" required>

                <!-- Language -->
                <p>Language</p>
                <input type="text" id="addListLanguage" class="form-control mb-4" name="language" required>

                <!-- Author Name -->
                <p>Author Name</p>
                <input type="text" id="addListAuthor" class="form-control mb-4" name="author" required>

                <!-- Publisher Name -->
                <p>Publisher Name</p>
                <input type="text" id="addListPublisher" class="form-control mb-4" name="publisher" required>

                <!-- Price -->
                <p>Price</p>
                <input type="number" id="addListPrice" class="form-control mb-4" name="price" min='0' required>

                <!-- Sell/Lend -->
                <p>Status</p>
                <div class="mb-4">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="addListLend" name="status" value="lend">
                    <label class="custom-control-label" for="addListLend">Lend</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="addListSell" name="status" value="sell">
                    <label class="custom-control-label" for="addListSell">Sell</label>
                </div></div>
                <!-- URL -->
                <p>Image URL</p>
                <input type="text" id="addListURL" class="form-control mb-4" name="URL" required>

                <!-- Submit button -->
                <button class="btn btn-info my-4 btn-block waves-effect" type="submit">Create Listing</button>
                <hr>
        <% } else { %>
            <p>
                You are not a valid user. Please <a href="/signup">Sign Up</a>
            </p>
            <p>Have an Account?
                <a href="/signin">Sign In</a>
            </p>
        <% } %>
    </div>
    <% include partials/footer %>
    <script>
        function getList() {
            document.getElementById("addListTitle").value='';
            document.getElementById("addListGenre").value='';
            document.getElementById("addListLanguage").value='';
            document.getElementById("addListAuthor").value='';
            document.getElementById("addListPublisher").value='';
            document.getElementById("addListTitle").readOnly = false;
            document.getElementById("addListGenre").readOnly = false;
            document.getElementById("addListLanguage").readOnly = false;
            document.getElementById("addListAuthor").readOnly = false;
            document.getElementById("addListPublisher").readOnly = false;
            var isbnval = document.getElementById("addListISBN").value;
            var xmlhttp = new XMLHttpRequest();
            var url = 'lookupISBN';
            var params = 'isbn='+isbnval;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
			    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    createList(xmlhttp);
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function createList(xmlhttp){
                var dataisbn = JSON.parse(xmlhttp.responseText);
                var list = "";
                var i;
                for(i = 0;i < dataisbn.length;i++) {
                    list += '<option>' + dataisbn[i].ISBN + '</option>';
                }
                document.getElementById("ISBN").innerHTML=list;
            }
        }
        function getIsbn() {
            var isbnval = document.getElementById("addListISBN").value;
            var xmlhttp = new XMLHttpRequest();
            var url = 'lookupdata';
            var params = 'isbn='+isbnval;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
			    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    createList(xmlhttp);
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function createList(xmlhttp){
                var dataisbn = JSON.parse(xmlhttp.responseText);
                if(dataisbn.length>0){
                    document.getElementById("addListTitle").value=dataisbn[0].title;
                    document.getElementById("addListGenre").value=dataisbn[0].genre;
                    document.getElementById("addListLanguage").value=dataisbn[0].language;
                    document.getElementById("addListAuthor").value=dataisbn[0].author.name;
                    document.getElementById("addListPublisher").value=dataisbn[0].publisher.name;
                    document.getElementById("addListTitle").readOnly = true;
                    document.getElementById("addListGenre").readOnly = true;
                    document.getElementById("addListLanguage").readOnly = true;
                    document.getElementById("addListAuthor").readOnly = true;
                    document.getElementById("addListPublisher").readOnly = true;
                }
            }
        }
    </script>
</body>
</html>