<!DOCTYPE html>
<html>
<head>
    <title> SocialLibrary | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/dashboard.css" rel="stylesheet">
    
</head>

<body>
    <% include partials/header %>
    <div style="overflow:hidden; display: block; position:relative; background-color: inherit;">
    <ul class="vtab">
        <li id="defaultOpen" class="vtabs" onclick="list(event, 'sentRequests')">Sent Requests</li>
        <li class="vtabs" onclick="list(event, 'recRequests')">Received Requests</li>
        <li class="vtabs" onclick="list(event, 'borrowBooks')">Borrowed Books</li>
        <li class="vtabs" onclick="list(event, 'lentBooks')">Lent Books</li>
        
    </ul>
        <div id="lentBooks" class="tab">
        </div>
        
        <div id="borrowBooks" class="tab">
        </div>
        
      <div id="recRequests" class="tab">
      </div>
      
        <div id="sentRequests" class="tab">
            <ul class="htab">
                    <li id="htabdefault" class="htabs" onclick="getSent(event, 'accept')">Accepted</li>
                    <li class="htabs" onclick="getSent(event, 'onhold')">On Hold</li>
                    <li class="htabs" onclick="getSent(event, 'reject')">Rejected</li>
            </ul>
            <div id="data" class="">
            </div>
        </div>
      <script>
        function list(evt, tabName) {
          var i, tab, vtabs;
          tab = document.getElementsByClassName("tab");
          for (i = 0; i < tab.length; i++) {
            tab[i].style.display = "none";
          }
          vtabs = document.getElementsByClassName("vtabs");
          for (i = 0; i < vtabs.length; i++) {
            vtabs[i].className = vtabs[i].className.replace(" vtabactive", "");
          }
          evt.currentTarget.className += " vtabactive";
          if(tabName=="sentRequests"){
            document.getElementById("htabdefault").click();
          }
          else if(tabName=="recRequests"){
            getRec(evt);
          }
          else if(tabName=="borrowBooks"){
            getBBooks(evt);
          }
          else if(tabName=="lentBooks"){
            getLBooks(evt);
          }
          document.getElementById(tabName).style.display = "block";
        }

        function getSent(evt, status) {
            var i, htabs;
            htabs = document.getElementsByClassName("htabs");
            for (i = 0; i < htabs.length; i++) {
                htabs[i].className = htabs[i].className.replace(" htabactive", "");
            }
            evt.currentTarget.className += " htabactive";
            var id = <%= user.id %>;
            var xmlhttp = new XMLHttpRequest();
            var url = 'getsentrequest';
            var params = 'id='+id+'&status='+status;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    if(status=='accept'){
                        acceptList(xmlhttp);
                    }
                    else {
                        requestList(xmlhttp);
                    }
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function requestList(xmlhttp){
                var dat="";
                var requestdata = JSON.parse(xmlhttp.responseText);
                for(i = 0;i<requestdata.length;++i){
                    dat+= "<div class=\"block\"><hr><div>";
                    dat+= "<img class=\"img1\" src=\"";
                    dat+=requestdata[i].owned.URL;
                    dat+= "\" alt=\"";
                    dat+=requestdata[i].owned.book.title;
                    dat+="\" height=\"100\" width=\"100\">";
                    dat+="<div class=\"inlineblock\">";
                    dat+="<p><span id=\"Title\">Title : ";
                    dat+=requestdata[i].owned.book.title;
                    dat+="</span></p><p><span id=\"Owner\">Owner : ";
                    dat+=requestdata[i].owned.user.firstname;
                    dat+=" ";
                    dat+=requestdata[i].owned.user.lastname;
                    dat+="</span></p><p><span id=\"Owner\">Status : ";
                    dat+=requestdata[i].status;
                    dat+="</span></p>";
                    dat+="</div>";
                    dat+="</div></div><br>";
                }
                    dat+="<hr>"
                document.getElementById("data").innerHTML = dat;
            }

            function acceptList(xmlhttp){
                var dat="";
                var requestdata = JSON.parse(xmlhttp.responseText);
                for(i = 0;i<requestdata.length;++i){
                    dat+= "<div class=\"block\"><hr><div id=\"requests\">";
                    dat+= "<img class=\"img1\" src=\"";
                    dat+=requestdata[i].owned.URL;
                    dat+= "\" alt=\"";
                    dat+=requestdata[i].owned.book.title;
                    dat+="\" height=\"100\" width=\"100\">";
                    dat+="<div class=\"inlineblock\">";
                    dat+="<p><span id=\"Title\">Title : ";
                    dat+=requestdata[i].owned.book.title;
                    dat+="</span></p><p><span id=\"Owner\">Owner : ";
                    dat+=requestdata[i].owned.user.firstname;
                    dat+=" ";
                    dat+=requestdata[i].owned.user.lastname;
                    dat+="</span></p><p><span id=\"Owner\">Status : ";
                    dat+=requestdata[i].status;
                    dat+="</span></p><p><span id=\"Email\">Email : ";
                    dat+=requestdata[i].owned.user.email;
                    dat+="</span></p><p><span id=\"Phone\">Phone : ";
                    dat+=requestdata[i].owned.user.phone;
                    dat+="</span></p>";
                    dat+="</div>";
                    dat+="<a href=\"/receive/";
                    dat+=requestdata[i].id;
                    dat+="\"><button class=\"button1\">Received Book</button></a>";
                    dat+="</div></div><br>";
                }
                    dat+="<hr>"
                document.getElementById("data").innerHTML = dat;
            }
        }
        function getRec(evt){
            var id = <%= user.id %>;
            var xmlhttp = new XMLHttpRequest();
            var url = 'getrecrequest';
            var params = 'id='+id;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    recRequestList(xmlhttp);
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function recRequestList(xmlhttp){
                var dat="";
                var requestdata = JSON.parse(xmlhttp.responseText);
                for(i = 0;i<requestdata.length;++i){
                    dat+= "<div class=\"block\"><hr><div id=\"requests\">";
                    dat+= "<img class=\"img1\" src=\"";
                    dat+=requestdata[i].owned.URL;
                    dat+= "\" alt=\"";
                    dat+=requestdata[i].owned.book.title;
                    dat+="\" height=\"100\" width=\"100\">";
                    dat+="<div class=\"inlineblock\">";
                    dat+="<p><span id=\"Title\">Title : ";
                    dat+=requestdata[i].owned.book.title;
                    dat+="</span></p><p><span id=\"Borrower\">Borrower : ";
                    dat+=requestdata[i].user.firstname;
                    dat+=" ";
                    dat+=requestdata[i].user.lastname;
                    dat+="</span></p><p><span id=\"Email\">Email : ";
                    dat+=requestdata[i].user.email;
                    dat+="</span></p><p><span id=\"Phone\">Phone : ";
                    dat+=requestdata[i].user.phone;
                    dat+="</span></p>";
                    dat+="</div>";
                    if(requestdata[i].status=="onhold") {
                        dat+="<a href=\"/accept/";
                        dat+=requestdata[i].id;
                        dat+="\"><button class=\"button1\">Accept</button></a>";
                        dat+="<a href=\"/reject/";
                        dat+=requestdata[i].id;
                        dat+="\"><button class=\"button1\">Reject</button></a>";
                    }
                    else {
                        dat+="<a href=\"/cancel/";
                        dat+=requestdata[i].id;
                        dat+="\"><button class=\"button1\">Cancel</button></a>";
                    }
                    dat+="</div></div><br>";
                }
                    dat+="<hr>";
                document.getElementById("recRequests").innerHTML = dat;
            }
        }

        function getBBooks(evt){
            var id = <%= user.id %>;
            var xmlhttp = new XMLHttpRequest();
            var url = 'getbbooks';
            var params = 'id='+id;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    borrowedBookList(xmlhttp);
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function borrowedBookList(xmlhttp){
                var dat="";
                var requestdata = JSON.parse(xmlhttp.responseText);
                for(i = 0;i<requestdata.length;++i){
                    dat+= "<div class=\"block\"><hr><div id=\"requests\">";
                    dat+= "<img class=\"img1\" src=\"";
                    dat+=requestdata[i].owned.URL;
                    dat+= "\" alt=\"";
                    dat+=requestdata[i].owned.book.title;
                    dat+="\" height=\"100\" width=\"100\">";
                    dat+="<div class=\"inlineblock\">";
                    dat+="<p><span id=\"Title\">Title : ";
                    dat+=requestdata[i].owned.book.title;
                    dat+="</span></p><p><span id=\"Owner\">Owner : ";
                    dat+=requestdata[i].owned.user.firstname;
                    dat+=" ";
                    dat+=requestdata[i].owned.user.lastname;
                    dat+="</span></p><p><span id=\"Email\">Email : ";
                    dat+=requestdata[i].owned.user.email;
                    dat+="</span></p><p><span id=\"Phone\">Phone : ";
                    dat+=requestdata[i].owned.user.phone;
                    dat+="</span></p><p><span id=\"Return Date\">Return Date : ";
                    dat+=requestdata[i].returndate;
                    dat+="</span></p>";
                    dat+="</div>";
                    dat+="</div></div><br>";
                }
                    dat+="<hr>"
                document.getElementById("borrowBooks").innerHTML = dat;
            }
        }
        
        function getLBooks(evt){
            var id = <%= user.id %>;
            var xmlhttp = new XMLHttpRequest();
            var url = 'getlbooks';
            var params = 'id='+id;
            xmlhttp.open('POST', url, true);
		    xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    lentBookList(xmlhttp);
                }
			}
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
            xmlhttp.send(params);

            function lentBookList(xmlhttp){
                var dat="";
                var requestdata = JSON.parse(xmlhttp.responseText);
                for(i = 0;i<requestdata.length;++i){
                    dat+= "<div class=\"block\"><hr><div id=\"requests\">";
                    dat+= "<img class=\"img1\" src=\"";
                    dat+=requestdata[i].owned.URL;
                    dat+= "\" alt=\"";
                    dat+=requestdata[i].owned.book.title;
                    dat+="\" height=\"100\" width=\"100\">";
                    dat+="<div class=\"inlineblock\">";
                    dat+="<p><span id=\"Title\">Title : ";
                    dat+=requestdata[i].owned.book.title;
                    dat+="</span></p><p><span id=\"Borrower\">Borrower : ";
                    dat+=requestdata[i].user.firstname;
                    dat+=" ";
                    dat+=requestdata[i].user.lastname;
                    dat+="</span></p><p><span id=\"Email\">Email : ";
                    dat+=requestdata[i].user.email;
                    dat+="</span></p><p><span id=\"Phone\">Phone : ";
                    dat+=requestdata[i].user.phone;
                    dat+="</span></p><p><span id=\"Return Date\">Return Date : ";
                    dat+=requestdata[i].returndate;
                    dat+="</span></p>";
                    dat+="</div>";
                    dat+="<a href=\"/return/";
                    dat+=requestdata[i].id;
                    dat+="\"><button class=\"button1\">Book Returned</button></a>";
                    dat+="</div></div><br>";
                }
                    dat+= "<hr>";
                document.getElementById("lentBooks").innerHTML = dat;
            }
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
    </div>
    <% include partials/footer %>
</body>
</html>