<!DOCTYPE html>
<html>
<head>
    <title>Passport with Sequelize</title>
</head>
<body>
    <!-- <% if (locals.user) { %> -->
    <h1><%= user.email %></h1>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <!-- <% } else { %> -->
        <p>sign in again</p>
</body>
</html>