<!DOCTYPE html>
<html>
<head>
    <title> SocialLibrary | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <style>
        .login-form {
        width: 500px;
        margin: 30px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .alert {
            padding: 15px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s; /* 600ms to fade out */
        }
    </style>
</head>

<body>
    <% include partials/header %>
    <!-- Default form register -->
    <form class="login-form text-center border border-light p-4" id="signup" method="post" action="/signup">

        <p class="h2 mb-4">Sign Up</p>

        <!-- First Name -->
        <input type="name" id="defaultRegisterFormname" class="form-control mb-4" placeholder="First Name" name="firstname" required>

        <!-- Last Name -->
        <input type="name" id="defaultRegisterFormname" class="form-control mb-4" placeholder="Last Name" name="lastname" required>

        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" required>

        <!-- Password -->
        <input type="password" class="form-control mb-4" placeholder="Password" name="password" id="password" required>

        <input type="password" class="form-control mb-4" name="confpassword" id="confpassword" placeholder="Confirm the password">
        <!-- <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small> -->

        <!-- Phone number -->
        <input type="text" id="defaultRegisterPhone" class="form-control mb-4" placeholder="Phone number" name="phone" required>
        <!-- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two step authentication
        </small> -->
        <p>Select your Campus</p>
                <div class="mb-4">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="addListLend" name="campus" value="north">
                    <label class="custom-control-label" for="addListLend">North Campus</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="addListSell" name="campus" value="south">
                    <label class="custom-control-label" for="addListSell">South Campus</label>
                </div></div>


        <!-- City -->
        <input type="text" id="defaultRegisterFormCity" class="form-control mb-4" placeholder="Hostel" name="city" required>

        <strong><span class="error text-danger"></span></strong>
        <!-- Newsletter -->
        <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
        </div> -->

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

        <!-- Social register -->
        <!-- <p>or sign up with:</p>

        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-github"></i>
        </a> -->

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>
        <p>Already a member?
            <a href="/signin">Sign In</a>
        </p>
    </form>
    <!-- Default form register -->
    <% include partials/footer %>
</body>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<script>
    var allowsubmit = false;
    $(function(){
        //on keypress
        $('#confpassword').keyup(function(e){
            //get values
            var pass = $('#password').val();
            var confpass = $('#confpassword').val();

            //check the strings
            if(pass == confpass){
                //if both are same remove the error and allow to submit
                $('.error').text('');
                allowsubmit = true;
            }else{
                //if not matching show error and not allow to submit
                $('.error').text('Password not matching');
                allowsubmit = false;
            }
        });

        //jquery form submit
        $('#signup').submit(function(){

            var pass = $('#password').val();
            var confpass = $('#confpassword').val();

            //just to make sure once again during submit
            //if both are true then only allow submit
            if(pass == confpass){
                allowsubmit = true;
            }
            if(allowsubmit){
                return true;
            }else{
                return false;
            }
        });
    });
</script>
</html>