* {box-sizing: border-box}
.post-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    height: 200px;
    width: 200px
}
.post-content {
    margin-left: 250px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.body {
    background-color: red;
}

.htab{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.htabs{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 5px;
  text-decoration: none;
}

.htabs:hover:not(.htabactive){
  background-color: #555;
  color: white;
}

.htabactive {
  background-color: #2bbbad;
  color: white;
}

.vtab {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.vtabs {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.vtabs:hover:not(.vtabactive){
  background-color: #555;
  color: white;
}

.vtabactive {
  background-color: #2bbbad;
  color: white;
}

.tab {
  float: left;
  background-color: inherit;
  width: 85%;
  border-left: none;
}

.img1{
  float:left;
}

div.inlineblock{
  display: inline-block;
  float: left;
}

div.block{
  display: inline-block;
}

.button1{
  background-color: #555;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-left: 5px;
  text-decoration: none;
  border: 0px;
  float: left;
}

.button1:hover{
  background-color: #2bbbad;
  color: white;
}